.App {
  text-align: left;
}
.row {
  display: block !important;
}
.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}
.navigation {
  width: 100%;
  text-align: right;
}
.navigation__link {
	display: block;
	padding: 0 20px;
	font-size: 16px;
	line-height: 50px /* Collapsed navigation height */;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.navigation__list {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 0;
	border-right: 0;
}
@media (max-width: 768px){
  .navigation__link  {
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
  }
}
.content {
  padding: 30px;
  margin-left: auto;
	margin-right: auto;
  max-width: 800px;
}
.timeline-icon {
  margin-top: 12px;
}
.vertical-timeline-element-icon {
  width: 60px !important;
  height: 60px !important;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  left: 140% !important;
}
.vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
  right: 140% !important;
  left: auto !important;
}
.timeline-links {
  float: left;
  top: 10px;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  top: 10px !important;
}
.button-div {
  float: right;
}
@media (max-width: 768px) {
  .btn{
      margin-bottom: 5px;
  } 
}
.form-label {
  position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}
label {
  position: absolute;
  top: 0;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}
.ta, input[type='email'], input[type='password'], input[type='text']  {
  resize:none;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  border-radius: 0;
}
.ta {
  height: 200px;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}
.form-group {
  position: relative;
  padding-top: 1.5rem;
}
