html, body, .view {
  height: 100%; /*Fixes the height to 100% of the viewport*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: #fbc7d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fbc7d4, #9796f0) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
.row {
  display: block !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #000;
  opacity: .6;
  padding-bottom: 5px;
}
.App-header {
  background-color: transparent;
  height: 50px;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.navigation {
  width: 100%;
  text-align: right;
}
.navigation__link {
	display: block;
	padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
	line-height: 50px /* Collapsed navigation height */;
	text-decoration: none;
	color: #fff;
  cursor: pointer;
  text-transform:uppercase;
}
.navigation__link:hover {
  color: #a78eff;
}
.navigation__list {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 0;
	border-right: 0;
}
@media (max-width: 400px){
  .navigation__link  {
    font-size: 13px;
    margin: 0;
    padding: 0 13px;
  }
}
.headings {
  padding-left: 5px;
  padding-top: 12px;
}
.container {
  max-width: 960px;
}
.content {
  padding: 30px;
  margin-left: auto;
	margin-right: auto;
}
.vertical-timeline-element-content {
  background: rgb(250, 246, 246) !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}
.vertical-timeline-element-content p {
  opacity: .8;
}
.timeline-icon {
  margin-top: 12px;
}
.vertical-timeline-element-icon {
  width: 60px !important;
  height: 60px !important;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  left: 140% !important;
}
.vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
  right: 140% !important;
  left: auto !important;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  top: 10px !important;
}
.card {
  background-color: rgba(229, 228, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
}
.entry-content {
  margin-left: auto;
   margin-right: auto;
   padding: 10px 15px;
   background: rgb(250, 246, 246);
   border-radius: .25rem;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
   height: 100%;
}

