
 .ta  {
   margin: 10px 8px !important;
   padding-right: 15px !important;
 }
 .tf-title {
  margin: 15px 8px !important;
  width: 200px;
 }
 .form-group {
   position: relative;
   padding-top: 1.5rem;
 }
 .button-div {
   text-align: right !important;
   padding-top: 20px;
 }
 .login-button-div {
   padding-top: 15px;
 }
 @media (max-width: 768px) {
   .btn{
       margin-bottom: 5px;
   } 
 }