.queue-content {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   background: rgb(250, 246, 246);
   border-radius: .25rem;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}
.add-queue-content {
  max-width: 500px;
  margin-left: 0px;
  margin-right: 0px;
}
.row-queue {
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   padding-top: 14px;
   height: 100%;
   border-bottom: 1px solid #d1c9f0;
 }
 .no-entries {
   padding: 20px;
 }
.label-complete {
   text-decoration: line-through;
   color: rgb(134, 117, 117);
   cursor: pointer;
   margin-bottom: 0rem !important;
 }
 .label-incomplete {
  cursor: pointer;
  margin-bottom: 0rem !important;
}
 .delete-icon {
   cursor: pointer;
   color: #F48FB1;
 }
 .delete-icon:hover {
   cursor: pointer;
   color: #AD1457;
 }
 .queue-category {
   font-size:12px;
   padding-left: 9px;
   padding-bottom: 7px;
 }
.my-float{
	font-size: 18px;
}